/* ---------------------------varables*/
:root 
{
  --njrblue: #000000;
  --blue: #ffffff;
  --white: #ffffff;
  --lightblue:  rgb(235, 0, 0);
  --red: rgb(167, 70, 70);
  --black: rgb(0,0,0);
  --yellow: rgb(255, 208, 0);
  --green: rgb(51, 206, 98);
  --gray: rgb(230, 230, 230);
  --darkgray: rgb(42, 42, 44);
  --lightgray: rgb(190, 190, 190);
  --trans: rgba(255, 255, 255, 0);
  --transluscent: rgba(255, 255, 255, 0);
}

/* ---------------------------main*/
@font-face 
{
  font-family: 'mainer';
  src: url('bahnschrift.ttf') format('truetype');
}
* 
{
margin:0;
padding:0;
font-family: bahnschrift, mainer, Arial, sans-serif;
overflow-x: hidden;
scroll-behavior: smooth;
-ms-overflow-style: none; /* for Internet Explorer, Edge */
scrollbar-width: none; /* for Firefox */
overflow-y: scroll;
}
*::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
body
{
background-size:cover;
background-repeat:no-repeat;
background-position:center;
width:100%;
height:100vh;
font-weight:400;
}


/* ---------------------------headings and text items*/
h1 {
  padding-bottom: 15px;
  text-transform: uppercase;
  font-size: 30px;
}
h2 {
  font-size: 20px;
  font-weight: normal;
}
h3 {
  font-size: 18px;
  font-weight: normal;
  padding-left: 16px;
  max-width: 300px;
  font-weight: normal;
  font-style: italic;
}
h4 {
  font-weight: normal;
  margin-left: 45px;
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 0px;
  max-width: 250px;
  font-size: 16px;
  font-style: italic;
}  
.highlight {
  background-color: var(--black);
  color: var(--white);
  font-weight:bolder;
  font-style: italic;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}
.highlighter {
  font-weight: bolder;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  font-size: 18pt;
  text-decoration: underline;
}
.highlight-light {
  background-color: var(--darkgray);
  color: var(--white);
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 25px;
  font-weight: normal;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
  0 2px 4px rgba(0,0,0,0.07), 
  0 4px 8px rgba(0,0,0,0.07), 
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07), 
  0 32px 64px rgba(0,0,0,0.07);
}

/* ---------------------------corners*/
.right-top {
  position: absolute;
  width: 40vw;
  text-align: right; 
  right: 0;
  top: 0;
}
.left-bot {
  position: absolute;
  float: left;
  bottom: 0;

}
.right-bot {
  position: absolute;
  float: right;
  bottom: 0;
}

/* ---------------------------sections and containers*/
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

section {
  height: 100vh;
  background-color: var(--white);
}
section .text-container{
  display: flex;
  justify-content: center;
}
section .text-container .text-box{
 margin: 30px;
 padding: 20px;
 background-color: var(--trans);
 max-width: 600px;
 min-width: 250px;
}
@media screen and (max-width: 900px) {
  section .text-container{
    display: block;
  }
  section .text-container .text-box{
    margin: 0px;
    border: none;
  }
}
.title {
  text-align: left;
  padding: 10px;
  bottom: 0;
}
.hero {
  margin: 5vw;
  background-color: #ffffffa4;
  font-size: 4vw;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-weight: 700;
  text-align: left;
  color: var(--njrblue);
}
.hero:nth-child(1) {
  animation: titleAnim 1s ease-in;
  font-weight: normal;
  color: var(--white);
  text-transform: uppercase;
  text-align: right;
  text-shadow: -1px -1px 0 var(--njrblue), 1px -1px 0 var(--njrblue), -1px 1px 0 var(--njrblue), 1px 1px 0 var(--njrblue);
}
.hero:nth-child(2) {
  animation: titleAnim2 3s ease-in-out;
  text-align: right;
  font-size: 6.5vw;
}
@keyframes titleAnim {
  0% {opacity: 0%;}
  50% {opacity: 0%;}
  100% {opacity: 100%;}
}
@keyframes titleAnim2 {
  0% {opacity: 0%;}
  80%{opacity: 0%;}
  100% {opacity: 100%;}
}
@keyframes softBlink {
  0% {opacity: 0%;}
  50%{opacity: 100%;}
  100% {opacity: 0%;}
}
@media screen and (max-width: 1400px) {

}
  @media screen and (max-width: 900px) {

  .title {
    text-align: left;
    padding: 10px;
    padding-left: 30px;
  }
}




section:nth-child(2) {
  background-image: url(../images/bg.png);
  background-color: var(--darkgray);
  color: var(--white);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 150px;
  height: auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  z-index: 10;
  position: relative;
}
section:nth-child(2) .text-container {
  padding-bottom: 45px;
}
section:nth-child(2) .text-container .text-box{
  margin-bottom: 0px;
  padding-bottom: 0px;
}
section:nth-child(2) .text-container .text-box ul li{
  font-size: larger;
  margin-bottom: 10px;
  margin-left: 10px;
}
.symbol {
  width:300px;
}
.alignedSer {
  justify-content: left;
}

section .text-container .text-box-break {
  border: 1px solid var(--white);
  margin-top: 15px;
  margin-bottom: 15px;
  height: 150px;
}
@media screen and (max-width: 900px) {
  section .text-container .text-box-break {
   display: none;
  }
}


/* ---------------------------bottom nav*/
.footer {
  background-color: var(--black );
  color: var(--white);
  padding-top: 10px;
  padding-bottom: 13px;
  bottom: 0;
  width: 100%;
  font-size: 12pt;
  text-align: center;
  font-style: italic;
  position: relative;
  z-index: 9999;
  background-image: url(../images/h.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 900px) {
  .footer {
    margin: 0px;
    width: 100%;
  }
}
